*~
*.o
*.a
*.map
/bathos
/bathos.bin
configs/yun_defconfig
configs/one_defconfig
configs/yunmini_defconfig
configs/chowchow_defconfig

*.cmd
*.o
.tmp_*
.config
.config.old
include/config
include/generated

scripts/allocator_aux_gen
lib/allocator-tables.c
